body{
    background-color: rgb(255, 251, 245);
}
.header{
    margin-bottom: 15px;
}
.channel-card, .video-card{
    background-color: #fff;
}
.channel-card{
    min-width: 400px;
    min-height:80px;
    margin: 0 10px 10px 0;
    border: 1px solid silver;
}
.channel-card-photo img{
    height: 80px;
    width: 80px;
    border-right:1px solid silver;
}
.likes-count-block{
    background-color: green;
    height:10px;
}
.dislikes-count-block{
    background-color: red;
    height:10px;
}
.round {
    border-radius: 100px;
    border: 3px solid white;
    box-shadow: 0 0 7px #666;
}

.open-next-page-form{
    width:95%;
    height: 100px;
}

.next-videos-page-btn, .next-channels-page-btn{
    display: none;
    width:90%;
    margin:10px;
}
.page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.banner{
    width:102%;
    margin-left: -15px;
    max-height: 320px;
}
.banner img{
    width:100%;
}
.card-title-block{
    height:20px;
}
