{% extends 'base.html' %}
{% load static %}

{% block title %}
    "{{channel.title}}" info
{% endblock title %}

{% block content %}    
    <div class="channel-detail">
        <div class="banner">
            <img src="{{channel.banner_photo}}" alt="banner">
        </div>
        <div class="channel-info row mt-5">
            <div class="channel-img col-1 offset-4">
                <img src="{{channel.photo}}" alt="channel photo" width="110" height="110" class="round">
            </div>
            <div class="channel-bio col-5 ml-5">
                <div class="title">
                    <h5>{{channel.title}}</h5>
                </div>
                <div class="channel-subscribers">
                    Подписчиков: {{channel.subscribers_count}}
                </div>
                <div class="channel-views-count">
                    Просмотров: {{channel.views_count}}
                </div>
                <div class="channel-videos-count">
                    Видео: {{channel.videos_count}}
                </div>
                <div class="channel-published-at">
                    Дата создания канала: {{channel.published_at}}
                </div>
            </div>            
        </div>         
    </div>
    <form method="POST" class="update-videos-list-form ml-2">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit"/>                
    </form> 
    <div class="row videos-block ml-3">
        {% for video in videos_list %}              
            {% include 'AccountInfo/include/video-card.html' %}   
        {% endfor %} 
    </div>
    <form method="POST" class="row next-videos-page-form ml-2">
        {% csrf_token %}
        <input type="hidden" name="next-videos-page-token" value="{{page_token}}" class='next-page-token'>
        <button class="btn btn-primary next-videos-page-btn">Загрузить еще</button>                    
    </form> 
    <script type="module" src="{% static 'js/channelInfo/channelInfo.js'%}"></script>     
    <script type="module" src="{% static 'js/include/cards.js'%}"></script>     
        
{% endblock content %}