{% extends 'base.html' %}
{% load static %}

{% block title %}
    YouTube Statistics
{% endblock title %}

{% block content %}
    <form method="POST" class="log-in-form" data-url={{authorization_url}}>
        {% csrf_token %}
        <button class="btn btn-primary log-in-btn" {% if is_authorized %} style='display:none;' {% endif %}>
            Войти
        </button> 
    </form>
    <form method="GET" class="log-out-form">
        {% csrf_token %}
        <button class="btn btn-primary log-out-btn" {% if not is_authorized %} style='display:none;' {% endif %}>
            Выйти
        </button> 
    </form>   
    <form method="POST" class="update-channels-block">
        {% csrf_token %}
    </form>
    <div class="row channels-block ml-3">
        {% for channel in channels %}            
            {% include 'AccountInfo/include/channel-card.html' %}  
        {% endfor %}
    </div>   
    <form method="POST" class="row next-channels-page-form">
        {% csrf_token %}
        <input type="hidden" name="next-page-token" value="{{page_token}}" class='next-page-token'>
        <button class="btn btn-primary next-channels-page-btn">Загрузить еще</button>
    </form> 
    <script src="{% static 'js/accountInfo/accountInfo.js'%}"></script>     
{% endblock content %}
