{% extends 'base.html' %}
{% load static %}

{% block title %}
    YouTube Statistics
{% endblock title %}

{% block content %}    
    <div class="row channels-block mt-3 ml-3">
        {% for channel in channels %}            
            {% include 'AccountInfo/include/channel-card.html' %}  
        {% endfor %}
    </div>   
    <form method="POST" class="row next-channels-page-form ml-2">
        {% csrf_token %}
        <input type="hidden" name="next-page-token" value="{{page_token}}" class='next-page-token'>
        <button class="btn btn-primary next-channels-page-btn" {% if not is_authorized %} style='display:none;' {% endif %}>
            Загрузить еще
        </button>
    </form>
    <script type="module" src="{% static 'js/accountInfo/accountInfo.js'%}"></script>
    <script type="module" src="{% static 'js/include/cards.js'%}"></script>       
{% endblock content %}
