{% extends 'base.html' %}

{% block title %}
    Условия использования
{% endblock title %}
    
{% block content %}
<p>1. ОБЩИЕ ПОЛОЖЕНИЯ 
1.1. Устанавливая данное Приложение (см. определение далее), Вы принимаете условия его использования («условия использования Приложения»). Просим внимательно ознакомиться с  <br>
ними перед установкой и/или принятием. <br>
</p>
<p>
2. ОПРЕДЕЛЕНИЯ 
«Приложение» означает программное обеспечение, предоставляемое youtubeapi-analytics для предложения услуг, связанных с youtubeapi-analytics, услугами youtubeapi-analytics  <br>
и ее парнеров, предназначенное для использования на устройствах с операционной системой Apple iOS, а также любые обновления и иное программное обеспечение или документацию,  <br>
обеспечивающие использование Приложения. <br>
</p>
<p>
3. ЗАЩИТА ДАННЫХ 
Все персональные данные, предоставляемые вами  youtubeapi-analytics во время использования Приложения, будут использоваться youtubeapi-analytics в соответствии с ее  <br>
Политикой конфиденциальности, с которой можно ознакомиться здесь:  http://www.youtubeapi-analytics.com/policy. <br>
</p>
6. ПРАВА СОБСТВЕННОСТИ И ЛИЦЕНЗИЯ 
6.1 Все торговые марки, авторские права, права на базы данных и прочие права интеллектуальной собственности любого рода в Приложении вместе с его программным кодом принадлежат <br>
непосредственно youtubeapi-analytics или лицензиарам youtubeapi-analytics.  <br>
6.2.  youtubeapi-analytics настоящим предоставляет Вам международную неэксклюзивную бесплатную отзывную лицензию на использование Приложения в личных и деловых <br>
целях в соответствии с данными условиями использования Приложения.  <br>
</p>
<p>
7. УСЛОВИЯ ИСПОЛЬЗОВАНИЯ 
7.1. Вы не имеете права и не должны позволять третьим лицам от Вашего имени (i) создавать или распространять копии Приложения; (ii) пытаться копировать, воспроизводить, <br>
изменять, модифицировать, осуществлять инженерный анализ, разбирать, декомпилировать, передавать, обменивать или переводить Приложение; или (iii) <br>
создавать какие-либо производные данного Приложения. <br>
7.2. В настоящее время Приложение предоставляется Вам бесплатно для использования в личных, некоммерческих целях.  youtubeapi-analytics оставляет за собой право <br>
вносить изменения или удалять Приложение, а также взимать плату за использование или обслуживание, предоставленное вам в соответствии с данными условиями использования Приложения <br>
в любое время и по любым причинам. <br>
7.3. Вы подтверждаете, что при использовании Приложения условия соглашения с вашим провайдером мобильной связи («Провайдер мобильной связи») будут и далее соблюдаться. Как следствие, <br>
Провайдер мобильной связи может взимать с Вас плату за услуги доступа к мобильной сети во время подключения или входа в Приложение, а также сборы за услуги, <br>
оказываемые третьими лицами. Вы принимаете на себя ответственность за любые такие возможные платежи. <br>
7.4. Если Вы не являетесь плательщиком счетов за мобильный телефон или портативное устройство, используемое для доступа к Приложению, будет считаться, что Вы получили разрешение <br>
на использование Приложения у плательщика счетов. <br>
</p>
<p>
8. ДОСТУПНОСТЬ 
8.1. Данное Приложение доступно для портативных мобильных устройств с операционной системой Apple iOS.  youtubeapi-analytics будет делать все от нее зависящее,  <br>
чтобы Приложение было всегда доступно. Однако Вы признаете, что Приложение предоставляется по Интернету и мобильным сетям, поэтому на качество и доступность Приложения могут  <br>
оказывать влияние факторы, не зависящие от youtubeapi-analytics.  <br>
8.2.  youtubeapi-analytics, вместе со своей группой компаний и субподрядчиками не несет ответственность за недоступность Приложения, а также за сложность или  <br>
невозможность загрузки или доступа к контенту, или за иные сбои коммуникационной ситемы, которые могут привести к недоступности Приложения. <br>
8.3. youtubeapi-analytics не отвечает за поддержку или обслуживание Приложения. <br>
</p>
<p>
9. СИСТЕМНЫЕ ТРЕБОВАНИЯ 
9.1. Для использования Приложения Вам необходим совместимый мобильный телефон или портативное устройство, доступ в Интернет и соблюдение минимальных технических требований  <br>
(«Требования к ПО»).  <br>
9.2. Требования к ПО: Устройства iPad с операционной системой Apple iOS 6 или выше <br>
9.3 Версия Приложения может периодически обновляться для включения новых функций и услуг. <br>
</p>
<p>
10. РАСТОРЖЕНИЕ СОГЛАШЕНИЯ  <br>
10.1.  youtubeapi-analytics может прекратить использование Приложения в любое время, уведомив Вас о расторжении соглашения.  <br>
10.2. После расторжения соглашения (а) все права и лицензии, предоставленные Вам данным документом, прекращают свое действие; (б) Вы обязаны полностью прекратить  <br>
использование данного ПО; <br>
</p>
<p>
11. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ 
11.1. Ни при каких обстоятельствах youtubeapi-analytics не несет ответственности за прямые, косвенные, фактические, штрафные, присужденные или случайные убытки или ущерб любого рода, <br>
вызванный использованием вами или доступом к Приложению, включая упущенную выгоду и т. п., предвиденные и непредвиденные сторонами, основанные на нарушении контракта, правонарушении (включая халатность), <br>
ответственности производителя и т. п. <br>
11.2. youtubeapi-analytics не несет перед Вами ответственности за повреждение или изменение Вашего оборудования, включая без ограничения компьютерное оборудование,  <br>
портативные устройства или мобильные телефоны, в результате установки или использования Приложения.  <br>
11.3. Ничто в данных условиях использования Приложения не исключает и не ограничивает ответственность youtubeapi-analytics за причинение смерти или травм людям по причине халатности,  <br>
мошенничества или преднамеренного введения в заблуждение, а также любую иную ответственность, которая не может быть исключена или ограничена в соответстии с применимым законом. <br>
</p>
<p>
12. ОТКАЗ ОТ ПРЕДОСТАВЛЕНИЯ ГАРАНТИЙ 
Во всех разрешенных законом случаях, и во избежание сомнений, кроме Раздела 2 Закона «О поставке товаров и услуг» 1982 г., youtubeapi-analytics настоящим отрицает любые  <br>
подразумеваемыхе гарантии в отношении данного Приложения. <br>
Приложение и ПО предоставляются «как есть» и «по мере доступности» без каких-либо гарантий. <br>
</p>
{% endblock content %}